*{
    font-family:  Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #FFF;
}
a{
    text-decoration: none;
    color: #f7d354;
    transition: .5s;
}
a:hover{
    color: #b8c306;
}
.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
  }
  
  .title .query-text {
    color: #f7d354;
  }
  
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
  }
  
  .movies-container div img {
    max-width: 100%;
  }
  
  .movies-container div img,
  .movies-container div p {
    margin-bottom: 1rem;
  }
  
  .movies-container div h2 {
    margin-bottom: 1.5rem;
  }
  
  .movies-container div svg {
    color: #f7d354;
  }
  
  .movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    text-align: center;
    font-weight: bold;
  }
  
  .movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
  }

  .movie-page {
    color: #fff;
    display: grid;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
  }
  .movie-page  {
    text-align: center;
  }
  .card{
    display: flex;
    flex-direction: column;
   
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
border-radius: 0.5rem;
cursor: pointer;

}    
.card:hover{
  transition: .3s all;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.6);
  background-color: #FFF;
  color: #000;

}

.card h3{
  margin:  1rem 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card p{
  margin-bottom: 1rem;
  display: flex;
  
  gap: 0.4rem;
}
.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
  margin-bottom: 1rem;
}
.movie-page h2{
  text-align: center;
}